.limit-height {
    max-height: 95%;
    width: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 5%;
    padding-bottom: 5%;
}

.right {
    //padding-right: 5%;
    padding-left: 5%;
}

.left {
    padding-left: 5%;
    //padding-right: 1%;
}

.header-image {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 470px;
    object-fit: cover;
    object-position: center;
}