<c-carousel *ngIf="images.length > 0">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of images">
      <img [src]="slide" class="header-image" loading="lazy" />
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>

<div>
  <c-row *ngFor="let summary_item of summary; let i = index" [attr.data-index]="i">
    <c-card class="load-animation">
      <c-row>
        <c-col [lg]="5" *ngIf="(i%2) == 0" class="rel md-3">
          <img class="limit-height left" [src]="summary_item['image']['fields']['file']['url']">
        </c-col>
        <c-col [lg]="7">
          <c-card-body>
            <div class="me-3 ms-3">
              <h5 cCardTitle>{{summary_item['title']}}</h5>
              <p cCardText>
                {{i}}
                {{summary_item['body']}}
              </p>
            </div>
          </c-card-body>
        </c-col>
        <c-col [lg]="5" *ngIf="(i%2) == 1" class="rel">
          <img class="limit-height right" [src]="summary_item['image']['fields']['file']['url']">
        </c-col>
      </c-row>
    </c-card>
  </c-row>
</div>