<div class="content">
    <c-header>
        <c-header-brand class="toright" [routerLink]="'/'">Georgi Travel</c-header-brand>
    </c-header>
    <c-header>
        <c-header-nav>
            <a>
                <c-nav-item>
                    <a [active]="true" routerLink="/" cNavLink> {{ "home" | translate }} </a>
                </c-nav-item>
            </a>
            <div class="vl"></div>
            <a>
                <c-nav-item>
                    <a [active]="true" routerLink="/about" cNavLink> {{ "about-me" | translate }} </a>
                </c-nav-item>
            </a>
            <div class="vl"></div>
            <a>
                <c-nav-item>
                    <a [active]="true" routerLink="/news" cNavLink> {{ "news" | translate }} </a>
                </c-nav-item>
            </a>
            <div class="vl"></div>
            <a>
                <c-nav-item>
                    <a [active]="true" routerLink="/trips" cNavLink> {{ "itinaries" | translate }} </a>
                </c-nav-item>
            </a>
            <div class="vl"></div>
            <a>
                <c-nav-item>
                    <a [active]="true" routerLink="/contact" cNavLink> {{ "contact" | translate }} </a>
                </c-nav-item>
            </a>
        </c-header-nav>
        <c-dropdown variant="btn-group">
            <button cButton cDropdownToggle color="secondary" variant="ghost">
                {{currentLanguage}}
            </button>
            <ul cDropdownMenu>
                <li><button cDropdownItem (click)="setLanguage('EN')">EN</button></li>
                <li><button cDropdownItem (click)="setLanguage('RU')">RU</button></li>
                <li><button cDropdownItem (click)="setLanguage('TR')">TR</button></li>
            </ul>
        </c-dropdown>
    </c-header>

    <router-outlet></router-outlet>
</div>

<div *ngIf="position_option == 'sticky'">
    <c-footer position="sticky" class="white-background">
        AAAAAAA
    </c-footer>
</div>
<div *ngIf="position_option == 'fixed'">
    <c-footer position="fixed" class="white-background">
        BBBBBBB
    </c-footer>
</div>