.no-color {
    color: gray;
}

.toright {
    position: relative;
    left: 5px;
}

.vl {
    border-left: 1px solid lightgray;
}


.content {
    min-height: 100vh;
}

.white-background {
    background-color: white;
}

.vertical {
  border-left: 2px solid lightgray;
  height: 20px;
}
