.center-card {
	margin: 5% auto;
	min-width: 50%;
	max-width: 90%;
	width: max-content;
}

.left {
    float: left !important;
    max-width: min(100%, 400px);
    padding-left: 2%;
    padding-bottom: 2%;
}

.leftfull {
  float: left !important;
  max-width: min(100%);
  padding-left: 2%;
  padding-bottom: 2%;
}
